/* ---- Top Level Rules ----- */

:root {
    /*  Old Colors */
    /* --highlight-color: #98ff98; */
    /* --highlight-color: #8afbff; */
    /* --primary-color: #6a4b81; */

    --primary-hue: 268;
    --primary-saturation: 26%;
    --primary-lightness: 40%;
    --primary-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));

    --highlight-hue: 190;
    --highlight-saturation: 100%;
    --highlight-lightness: 77%;
    --highlight-color: hsl(var(--highlight-hue), var(--highlight-saturation), var(--highlight-lightness));
}

html {
    background-color: white;
}

body {
    background-color: var(--primary-color);
    font-family: 'Source Code Pro', monospace;
    color: white;
    width: 100dvw;
    height: 100dvh;
    font-size: 12.5px;
    overflow: overlay
}

svg {
    fill: white;
}

a {
    color: white;
    text-decoration: underline rgba(255, 255, 255, .7);
    cursor: pointer;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: none;
}


.icon {
    justify-self: center;
    height: auto;
    max-width: 100%;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.selectable {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.clickable {
    cursor: pointer;
}



/* ---- Scrollbar ---- */

*::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3.5px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.33);
}

/* ---- Header and Navigation ---- */

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

#my-name {
    font-weight: 1000;
    font-size: 18px;
}

#nav .nav-options:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.selected-page:hover {
    font-style: unset !important;
}

#nav {
    display: flex;
    width: fit-content;
    flex-direction: column
}

.nav-options {
    cursor: pointer;
    border-radius: 3.5px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    width: fit-content;
    transition: background-color 0.2s ease;
}

#dividing-box {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border-left: solid 0.5px;
    border-right: solid 0.5px;
    align-items: center;
    margin-left: 10px;
    margin-right: 7.5px;
    position: relative;
    overflow: hidden;
}

#dividing-box svg {
    max-height: 37.5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dividing-box svg path {
    stroke-width: 0.75;
}

#selector-arrow {
    display: block;
    position: absolute;
    padding-left: 5px;
    padding-top: 0px;
    transition: padding-top 0.3s ease;
}

/* ---- Text, About, Projects ---- */

#text-container {
    position: fixed;
    display: flex;
    padding: 75px;
    padding-right: 0px;
    width: 725px;
    height: 100%;
    flex-direction: column;
    z-index: 1;
}

/* Used for the about and projects sections */
.flex-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    scrollbar-gutter: stable;
}

.projects {
    grid-gap: 7px;
    width: 85%;
    height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}


.redirect-container {
    display: flex;
    max-width: fit-content;
}

.redirect-container:hover .selectable, .redirect-container:hover .icon {
    color: var(--highlight-color);
    fill: var(--highlight-color);
}

.email {
    cursor: copy;
}

/* This site is used to create a filter that changes white to given color */
/* https://codepen.io/sosuke/pen/Pjoqqp */
.email:hover .mail-image {
    /* filter: invert(6%) sepia(4%) saturate(2802%) hue-rotate(63deg) brightness(95%) contrast(86%); */
    /* filter: invert(13%) sepia(29%) saturate(699%) hue-rotate(58deg) brightness(107%) contrast(101%); */
    filter: invert(14%) sepia(17%) saturate(1105%) hue-rotate(149deg) brightness(102%) contrast(106%);
}

.mail-image {
    margin-top: auto;
    margin-bottom: auto
}

.tooltiptext {
    position: fixed;
    top: 25px;
    right: 25px;
    opacity: 0;
    background-color: #ffffff;
    color: var(--primary-color);
    padding: 1.5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3.5px;
    transition: all 0.5s ease;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 5px

}

/* ----- Project Page ----- */

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item .text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-item .text span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-item {
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    width: calc(100% - 7px);
    border-radius: 3.5px;
}

.project-item .image-container {
    display: flex;
    box-sizing: border-box;
    justify-content: right;
}

.project-title {
    border-top-right-radius: 3.5px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13.5px;
}

.project-title svg {
    height: 25px;
    width: 25px;
    padding: 4.5px;
    border-radius: 3.5px;
    transition: background-color 0.2s ease;
}

.project-title svg:hover {
    background-color: hsl(var(--primary-hue),
            var(--primary-saturation),
            calc(var(--primary-lightness) * 0.85));
}

.project-title a {
    text-decoration: none;
}

.project-description {
    margin-left: 15px;
    margin-right: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.project-item img, video {
    height: max(calc((100dvh - 232.5px) / 5), 110px);
    aspect-ratio: 1;
    object-fit: cover;
    vertical-align: middle;
    border-top-left-radius: 3.5px;
    border-bottom-left-radius: 3.5px;
}

.project-tech {
    /* background-color: rgba(0, 0, 0, .30); */
    background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) * 0.85));
    border-radius: 5px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

/* Storage  */
/* .project-item img, video {
    padding: 6.5px;
    width: 150px;
    margin-right: 20px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: calc(min(100%, 175px));
    object-fit: contain;
} */

/* ---- Canvas ---- */

#canvas-container {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: calc((calc(100dvw - 712px) - min((100dvw - 712px), 60dvh)) / 2);
    width: calc(100dvw - 712px);
    aspect-ratio: 1;
    max-height: 60dvh;
    max-width: 60dvh;
    transform: translate(0, calc((100dvh - min((100dvw - 712px), 60dvh)) / 2));
}

#canvas {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
}

#refresh-icon {
    display: flex;
    position: absolute;
    width: max(4.5%, 22.5px);
    height: max(4.5%, 22.5px);
    right: 7.5%;
    bottom: 7.5%;
    padding: 1.5px;
    transition: background-color 0.2s ease;
}

#refresh-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3.5px;
}

#refresh-icon svg {
    width: 100%;
    height: 100%;
    fill: none;
}

#refresh-icon path {
    stroke: hsl(var(--primary-hue), var(--primary-saturation), var(--highlight-lightness));
    stroke-width: 1;
}

#last-updated-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1.5px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}


@media (max-width: 1000px) {
    #canvas-container {
        display: none;
    }
}

@media (max-width: 799px) {
    .projects {
        width: unset;
        margin: unset;
    }
    #text-container {
        display: flex;
        padding: 50px;
        padding-right: 0px;
        width: 550px;
    }

    .project-item img, video {
        height: max(calc((100dvh - 182.5px) / 5), 110px);
    }
}

@media (max-width: 599px) {

    #dividing-box {
        display: none;
    }
    
    /* Still deciding whether to include this */
    #nav {
        transform: translate(calc(22.25dvw - 25px), 0);
        display: none;
    }

    #text-container {
        width: calc(100dvw - 25px);
        padding: 25px;
        padding-right: 0px;
    }

    /* ----- Projects ----- */

    .projects {
        width: 100%;
    }

    .project-item {
        display: block;
        margin-bottom: 20px;
    }

    .project-item .image-container {
        padding: 0px;
        justify-content: left;
    }

    .project-title {
        border-top-left-radius: 3.5px;
    }

    .project-description {
        border-top-left-radius: 3.5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .project-item img, video {
        margin: unset;
        padding: unset;
        height: unset;
        width: 100%;
        min-width: calc(100dvw - 65px);
        border-radius: unset;
        border-bottom-left-radius: 3.5px;
        border-bottom-right-radius: 3.5px;
        object-fit: contain;
        aspect-ratio: unset;
    }
}